.modal__image {
  width: 498px;
  height: 498px;
}

.modal__content_type_image {
  padding: 0;
  overflow: hidden;
}

.modal__caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cabinet Grotesk Regular", "Times New Roman", Times, sans-serif;
  margin-left: 32px;
}

.modal__weather {
  font-family: "Cabinet Grotesk Regular", "Times New Roman", Times, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-left: 32px;
  margin-bottom: 12px;
  padding-bottom: 32px;
}

.modal__close_item-modal {
  color: transparent;
}
